body {
background-color: #101010; 
}

.greentext {
  color: #99cc66;
}

h1{
  color: #99cc66;
  text-align: center;

}
.collapsible {
background-color: #181818;
color: #99cc66;
border-color: #99cc66;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
outline: none;
font-size: 15px;
}
.collapsible:hover {
  text-decoration: underline;
    color: #181818;
    border-color: #181818;
    background-color: #99cc66;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #181818;
color: white;
border-color: #99cc66;
overflow-y: auto;
}
/* Thick horizondal line */
hr.thickbar{
      border: 1px solid  #99cc66;
}

a:visited {
    color: white;
}

/* tabs */
.tab {
overflow: hidden;
border: 1px solid #99cc66;
background-color: #181818;
}

/* Style the buttons that are used to open the tab content */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
color: #99cc66;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #99cc66;
color: white;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #99cc66;
color: white;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
border-color: #99cc66;
color: white;
} 
